.post-container {
  width: 70%;
  background-color: hsl(0, 0%, 95%);
  padding: 20px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 0 5px #64646471;
}

.title h3 {
  color: hsl(209, 68%, 46%);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.like-button {
  background-color: hsl(209, 68%, 46%);
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.footer p:last-child {
  color: rgb(175, 175, 175);
  font-weight: 100;
}
